{{ $curCtx := . }}
{{ with .menu_node }}
  {{ $fullNodes := ( partial "generic-site-menu/merge-node-slices" (dict "curPages" .Pages "curSections" .Sections ) ) }}
  {{ $childNodes := ( partial "generic-site-menu/nodes-included" ( dict "nodes" $fullNodes "menu_node" . "menu_type" "local-nav" ) ) }}
  {{/*If there are sections below us*/}}
  {{ if $childNodes }}
    {{ if (last 1 $childNodes ) }}
      {{/*Find child*/}}
      {{ range (last 1 $childNodes ) }}
        {{/*repeat*/}}
        {{ partial "sidebar/local-nav/generate/findlastinsection" (dict "cur_node" $curCtx.cur_node "menu_node" . ) }}
      {{ end }}
    {{ else }}
      {{/*No children, we must be terminal*/}}
      <a href="{{ .RelPermalink }}">Prev</a>
    {{ end }}
  {{ else }}
    {{/*else we are the target*/}}
    <a href="{{ .RelPermalink }}">Prev</a>
  {{ end }}
{{ end }}
