{{ $scratch := newScratch }}
{{ $ctx := . }}
{{ $allListTypes := ( slice "site" "section" "local-nav" "section-nav" "sidebar-news" "sidebar-recent" "sidebar-events" ) }}
{{ $includeNode := false }}

{{ with .menu_node }}
  {{ range $ctx.nodes }}
    {{ $includeNode = true }}
    {{ if ( eq $ctx.trimHomeChildren true )}}
      {{ if .File }}
        {{ if and (or (ne ( path.Base .File.Dir ) ( path.Dir .File.Path ) ) ( ne .File.BaseFileName  "_index" )  ) ( ne .File.Dir "/" ) }}
          {{/*Top-level only*/}}
          {{ $includeNode = false }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ $not_in_lists := .Param "not_in_lists" }}
    {{ if $not_in_lists }}
      {{ if (in $not_in_lists $ctx.menu_type ) }}
        {{/*If the current menu_type is excluded for this node*/}}
        {{ $includeNode = false }}
      {{ end }}
    {{ end }}
    {{ if ( in ( slice "home" "taxonomy" "taxonomyTerm" ) .Kind ) }}
      {{ $includeNode = false }}
    {{ end }}
    {{ if and .Parent $includeNode }}
      {{/*Check ancestors*/}}
      {{ $parentInc := ( partial "generic-site-menu/nodes-included" (dict "nodes" (slice .Parent ) "menu_node" . "menu_type" $ctx.menu_type ) ) }}
      {{ if not (or $parentInc (not ( eq .Kind "home" ) ) ) }}
        {{/*If the ancestors are not included at their levels*/}}
        {{ $includeNode = false }}
      {{ end }}
    {{ end }}
    {{ if $includeNode }}
      {{ if not ( $scratch.Get "nodes_included" ) }}
        {{ $scratch.Set "nodes_included" ( slice . ) }}
      {{ else }}
        {{ $scratch.Add "nodes_included" . }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{ return $scratch.Get "nodes_included" }}
