@mixin footer-links($device-capabilities: 'all-browsers', $sub-devcap: null) {

  & .footer-links {
    text-align: center;
    width: 100%;

    @if $device-capabilities == 'all-browsers' {
      border-top: 4px ridge $default-separator-color;
      display: block;
      padding: .3em;

      a {
        &:link,
        &:active,
        &:hover {
          background-color: $page-footer-link-background-color;
          display: block;
          height: 100%;
          padding: .2em;
          text-decoration: none;
          width: 100%;
        }
      }

      span {
        border: 3px ridge $default-separator-color;
        display: inline-block;
        margin: .5%;
      }
    } @elseif $device-capabilities == 'small-screen' or $device-capabilities == 'no-hover' {
      @if $sub-devcap == 'ie11+' {
        display: flex;
        flex: 1 1 100%;
        flex-flow: row wrap;
        justify-content: space-between;
      }

      @supports (flex: 1 1 100%) {
        display: flex;
        flex: 1 1 100%;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    } @elseif $device-capabilities == 'normal-plus-screen' {
      @if $sub-devcap == 'ie11+' {
        display: flex;
        flex: 1 1 100%;
        flex-flow: row wrap;
        justify-content: space-between;
      }

      @supports (flex: 1 1 100%) {
        display: flex;
        flex: 1 1 100%;
        flex-flow: row wrap;
        justify-content: space-between;
      }
    }
  }
}

@mixin license-item {
  & .license-item {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;

    &::after {
      content: ', ';
    }

    &:last-child {
      &::after {
        content: '';
      }
    }
  }
}

@mixin license-list {
  & .license-list {
    @include license-item;

    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin license-lines {
  & .page-license {
    @include license-list;
  }

  & .site-license {
    @include license-list;
  }
}

@mixin license-block {
  & .license-block {
    @include license-lines;

    display: inline-block;
    font-style: italic;

    & .label {
      font-weight: normal;
    }
  }
}

@mixin footer($device-capabilities: 'all-browsers', $sub-devcap: null) {
  @if $device-capabilities == 'all-browsers' {
    .page-footer {
      display: none;
      height: 0;
      visibility: hidden;
      width: 0;
    }
  }

  .page-footer-wrapper {
    @if $device-capabilities == 'all-browsers' {
      @include footer-links($device-capabilities, $sub-devcap);

      font-size: smaller;
      margin-top: .4em;
      visibility: visible;

      &::before {
        clear: both;
        content: '';
        display: block;
      }

      & .colophon {
        @include license-block;

        border-top: 2px solid $default-separator-color;
        padding: .3em;
        text-align: left;
      }

      .doc-date-block {
        font-size: smaller;
        font-style: italic;
        margin: .4em;
        padding-top: .4em;
        text-align: left;
      };

      & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    } @elseif $device-capabilities == 'small-screen' or $device-capabilities == 'normal-plus-screen' or $device-capabilities == 'no-hover' {

      & .page-footer {
        @include footer-links($device-capabilities, $sub-devcap);

        display: block;
        height: auto;
        visibility: visible;
        width: 100%;
      }

      @if $sub-devcap == 'ie11+' {
        grid-column-end: initial;
        grid-column-start: initial;
        grid-row-start: initial;
        order: 999;
        width: 100%;
      }

      @supports (order: 999) and (not (display: grid)) {
        order: 999;
      }

      @supports (display: grid) {
        grid-column-end: 3;
        grid-column-start: 1;
        grid-row-start: 9;
        width: auto;
      }
    }
  }
}
