
@mixin section-nav-menu-entry($device-capabilities: 'all-browsers', $sub-devcap: null) {
  & .menu-entry {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@mixin section-nav-menu-link($device-capabilities: 'all-browsers', $sub-devcap: null) {
  & > .menu-link {
    @include section-nav-menu-entry($device-capabilities, $sub-devcap);

    display: block;
    overflow: hidden;
    padding-bottom: .2em;
    padding-top: .2em;
    text-overflow: ellipsis;
    width: 100%;

    &:link,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

@mixin section-nav-menu-entry-wrapper($device-capabilities: 'all-browsers', $sub-devcap: null) {
  & > .menu-entry-wrapper {
    @include section-nav-menu-link($device-capabilities, $sub-devcap);

    background-color: $section-nav-entry-background-color;
    display: block;
    margin-bottom: .2em;
    margin-left: .2em;
    padding-left: .6em;
    width: 100%;

    &.current-page {
      border-left: .2em dotted $default-text-color;
      margin-left: .2em;
      padding-left: .4em;
    }

    &:active,
    &:hover {
      background-color: $default-hover-background-color;
      color: $default-hover-color;
    }
  }
}

@mixin section-nav-menu-item($menu-level, $device-capabilities: 'all-browsers', $sub-devcap: null) {
  & > .menu-item {
    @include section-nav-menu-entry-wrapper($device-capabilities, $sub-devcap);

    display: block;
    list-style: none outside;
    margin: 0;
    padding: 0;
    @if $menu-level > 0 {
      width: 80%;
    } @else {
      width: 100%;
    }

    @if $menu-level < $section-nav-max-menu-level {
      @include section-nav-menu-list($menu-level + 1, $device-capabilities, $sub-devcap);
    }
  }
}

@mixin section-nav-menu-list($menu-level, $device-capabilities: 'all-browsers', $sub-devcap: null) {

  & > .menu-parent {
    display: block;
    list-style: none outside;
    margin: 0;
    padding: 0;
    visibility: visible;

    @if $menu-level < $section-nav-max-menu-level {
      @include section-nav-menu-item($menu-level, $device-capabilities, $sub-devcap);
    } @else {
      display: none;
      visibility: hidden;
    }
  }
}

@mixin section-nav-sitemap($device-capabilities: 'all-browsers', $sub-devcap: null) {

  .section-nav-sitemap-wrapper {
    @if $device-capabilities == 'all-browsers' {
      @include section-nav-menu-list(0, $device-capabilities, $sub-devcap);

      background-color: $sidebar-box-background-color;
      border-bottom: $sidebar-box-border $sidebar-box-border-color;
      border-top: $sidebar-box-border $sidebar-box-border-color;
      color: $sidebar-box-text-color;
      display: none;
      font-size: .9em;
      margin-bottom: .4em;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: .6em;
      text-align: left;
      visibility: hidden;

      & .section-nav-sitemap {
        display: none;
        float: none;
        height: 0;
        visibility: hidden;
        width: 0;
      }

      & h2 {
        border-bottom: solid 1px;
        display: block;
        font-size: 1em;
        margin-bottom: .4em;
        margin-left: 0;
        margin-right: .4em;
        margin-top: 0;
        padding-bottom: .4em;
        padding-left: 0;
        padding-right: 0;
        padding-top: .4em;
        width: 100%;
      }
    } @elseif $device-capabilities == 'small-screen' or $device-capabilities == 'no-hover' {
      display: none;
      top: 0;
      visibility: hidden;
    } @elseif $device-capabilities == 'normal-plus-screen' {

      & .section-nav-sitemap {
        @include section-nav-menu-list(0, $device-capabilities, $sub-devcap);

        float: none;
        height: auto;
        width: 100%;
      }

      @supports (display: grid) {
        display: block;
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-start: 3;
        max-width: none;
        visibility: visible;
        width: auto;

        & .section-nav-sitemap {
          display: block;
          visibility: visible;
        }
      }
    }
  }
}
