.section-nav-sitemap-wrapper {
  & .sitemap-list {
    & .menu-link {
      padding-bottom: .2em;
      padding-top: .2em;
    }

    & > .menu-item {
      @include menu-item-contents(inline-block, inline-block, inherit) {
        text-align: left;

        & .menu-entry-wrapper {
          display: inline-block;
        }
      }

      @include list-menu-parent-parent(inline-block, none, inline-block);

      margin-bottom: .2em;
    }

    & .menu-item {
      padding-bottom: 0;

      & .menu-entry-wrapper.current-page { // sass-lint:disable-line force-element-nesting
        border-left-color: $default-text-color;
      }

      & .menu-entry-wrapper {
        background-color: $sidebar-menu-entry-row-background-color;
      }

      &:active,
      &:hover {
        & > .menu-entry-wrapper {
          background-color: $default-hover-background-color;
          color: $default-hover-color;
        }
      }
    }
  }
}

@mixin section-nav-sitemap($device-capabilities: 'all-browsers', $sub-devcap: null) {

  .section-nav-sitemap-wrapper {
    @if $device-capabilities == 'all-browsers' {
      background-color: $sidebar-box-background-color;
      border-bottom: $sidebar-box-border $sidebar-box-border-color;
      border-top: $sidebar-box-border $sidebar-box-border-color;
      color: $sidebar-box-text-color;
      display: none;
      font-size: .9em;
      margin-bottom: .4em;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: .6em;
      text-align: left;
      visibility: hidden;

      & .section-nav-sitemap {
        display: none;
        float: none;
        height: 0;
        visibility: hidden;
        width: 0;
      }

      & h2 {
        border-bottom: solid 1px;
        display: block;
        font-size: 1em;
        margin-bottom: .4em;
        margin-left: 0;
        margin-right: .4em;
        margin-top: 0;
        padding-bottom: .4em;
        padding-left: 0;
        padding-right: 0;
        padding-top: .4em;
        width: 100%;
      }

      & .sitemap-list {
        display: block;
        list-style: none outside;
        margin: 0;
        padding: 0;

        & > .menu-item {
          display: block;
          list-style: none outside;
          margin: 0;
          padding: 0;

          & > .menu-parent { // sass-lint:disable-line force-element-nesting
            display: block;
            list-style: none outside;
            margin: 0;
            padding: 0;
            width: 100%;
          }

          & > .menu-parent > .menu-item { // sass-lint:disable-line force-element-nesting
            display: block;
            margin: 0;
            padding: 0;
            width: 80%;
          }

          & > .menu-parent > .menu-item > .menu-parent { // sass-lint:disable-line force-element-nesting
            display: none;
            visibility: hidden;
          }
        }
      }
    } @elseif $device-capabilities == 'small-screen' or $device-capabilities == 'no-hover' {
      display: none;
      top: 0;
      visibility: hidden;
    } @elseif $device-capabilities == 'normal-plus-screen' {

      & .section-nav-sitemap {
        float: none;
        height: auto;
        width: 100%;
      }

      @supports (display: grid) {
        display: block;
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-start: 3;
        max-width: none;
        visibility: visible;
        width: auto;

        & .section-nav-sitemap {
          display: block;
          visibility: visible;
        }
      }
    }
  }
}

@mixin linear-nav($device-capabilities: 'all-browsers', $sub-devcap: null) {
  @if $device-capabilities == 'all-browsers' {
    .local-nav-bar-wrapper {
      display: block;
      margin: 0;
      padding: .2em;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 22%;
      z-index: 50;

      & .local-nav-bar {
        display: none;
        height: 0;
        visibility: hidden;
        width: 0;
      }

      & a,
      & span {
        background-color: $local-nav-background-color;
        color: $local-nav-text-color;
        display: inline-block;
        margin: 0;
        padding: 0;
        padding-bottom: .2em;
        padding-top: .2em;
        text-align: center;
        text-decoration: none;
        width: 30%;

        &:link,
        &:active,
        &:hover {
          display: inline-block;
          margin: 0;
          padding: 0;
          padding-bottom: .2em;
          padding-top: .2em;
          text-align: center;
          text-decoration: none;
          width: 30%;
        }

        &:link,
        &:visited {
          color: $local-nav-link-color;
        }

        &:active,
        &:hover {
          background-color: $local-nav-hover-background-color;
          color: $local-nav-hover-color;
        }
      }
    }
  } @elseif $device-capabilities == 'small-screen' or $device-capabilities == 'no-hover' {
    .local-nav-bar-wrapper {
      display: block;
      position: static;

      & .local-nav-bar {
        display: block;
        float: none;
        height: auto;
        visibility: visible;
        width: 100%;
      }

      @supports (flex: 1 1 100%) and (not (display: grid)) {
        flex: 1 1 100%;
        order: 4;
        width: auto;
      }

      @supports (display: grid) {
        grid-column-end: 3;
        grid-column-start: 1;
        grid-row-start: 7;
        width: auto;
      }
    }
  } @elseif $device-capabilities == 'normal-plus-screen' {
    .local-nav-bar-wrapper {
      & .local-nav-bar {
        display: block;
        height: auto;
        visibility: visible;
        width: 100%;
      }

      @supports (flex: 1 1 100%) and (not (display: grid)) {
        flex: 1 1 100%;
        max-width: none;
        order: 2;
        position: static;
      }

      @if $sub-devcap == 'ie11+' {
        display: block;
        flex: 1 1 100%;
        margin-bottom: .4em;
        max-width: none;
        order: 2;
        position: static;
        text-align: center;
      }

      @supports (display: grid) {
        grid-column-end: 3;
        grid-column-start: 2;
        grid-row-start: 2;
        max-width: none;
        position: static;
        width: auto;
      }
    }
  } @elseif $device-capabilities == 'speech' or $device-capabilities == 'print' {
    .local-nav-bar-wrapper {
      display: none;
      visibility: hidden;
    }
  }
}
