{{ $ctx := . }}
{{ if not (.Param "norbar") }}
  {{ $startNodes := (where (where .Site.Pages ".Params.date" "!=" nil)  "Type" "!=" "news" ) }}
  {{ $nodes := ( partial "generic-site-menu/nodes-included" (dict "nodes" $startNodes "menu_node" . "menu_type" "sidebar-recent"  "exclude_self" true ) ) }}
  {{ if $nodes }}
  <div class="sidebar-recent-additions-wrapper">
    <section aria-labelledby="sidebar-recent-additions" class="sidebar-recent-changes sidebar-box">
      <h2 id="sidebar-recent-additions" class="sidebar-title">{{ if .Param "recent_additions" }}{{ if .Site.GetPage ( .Param "recent_additions") }}<a href="{{ .Param "recent_additions" }}">{{ end }}{{ end }}Recent Additions{{ if .Param "recent_additions" }}{{ if .Site.GetPage (.Param "recent_additions") }}</a>{{ end }}{{ end }}</h2>
    {{ range first 8 $nodes.ByDate.Reverse }}
      {{ .Render "summary" }}
    {{ end }}
    </section>
  </div>
  {{ end }}
{{ end }}
